
nav {
    color: #fff;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
   
}
img {
    width: 180px;
    
}

nav ul li {
    display: inline-block;
    align-items: center;
    list-style: none;
    margin: 5px 20px;
    font-size: 16;
}
.btn{
   background-color: #fff;
   color: #333;
   padding: 14px 25px;
   align-items: center;
   border-radius: 30px;
   font-size: 16px;
   cursor: pointer;
   border:0;
   outline: 0;
   display: inline-flex;
   justify-content: center;
}

.sticky{
    background-color: #212ea0;
    color: #fff;
}

.menu_icon {
    display: none;
}

/*-------@media query------*/
@media (max-width:1000px) {
   
    nav ul li {
        margin: 10px 15px;
    }

}
@media (max-width:840px) {
    nav {
        padding: 15px 0;
    }
    nav ul {
        position: fixed;
        top: 0;
        right: 0px;
        bottom: 0;
        background: #212ea0;
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
    }
    nav ul li {
        display: block;
        margin: 25px 40px;
    }
    .menu_icon {
        display:block;
        width: 25px;
        cursor: pointer;
    }
    .hide-mobile-menu {
        right: -200px;
    }
}
