.campus {
    margin: 50px auto;
    width: 90%;
    text-align: center;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    
}
.gallery img {
    width: 23%;
   
}
.four {
    width: 23%;
    height: 340px;
    object-fit: cover;
  
}
.btn.dark-btn {
    background-color: #210ea0;
    color: white;
    border: none;
   
}
.btn.dark-btn img {
    width: 20px; 
    height: auto; 
    margin-left: 10px; 
    color: #fff;
}

@media (max-width:800px) {
    .gallery {
        flex-wrap: wrap;
    }
    .gallery img {
        width: 48%;
        margin-bottom: 25px;
    }
}

